@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather";
}

* {
    margin: 0%;
    padding: 0%;
}

/* banner section */

.banner {
    max-width: 1320px;
    height: 600px;
    margin: 0%;
    margin: auto;
    margin-top: 20px;
    background-image: url('/images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.banner-details {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 40px;
}

.text-happy {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.text-headline {
    font-size: 50px;
    color: white;
    text-align: center;
}

/* 65% section conatainer style */
.second-container {
    width: 802.9px;
    height: 760px;
    /* border: 1px solid red; */
    margin: 0%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.second-details {
    margin-top: 30px;
}

#off-text {
    color: #FF0000;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 20px;
}

#holiday-text {
    color: #FF0000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#categoris-text {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.second-details img {
    width: 600px;
    height: 500px;
    margin-top: 50px;
}

/* vaction section style */