@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather";
}

* {
    margin: 0%;
    padding: 0%;
}

/* banner section */

.banner {
    max-width: 1320px;
    height: 600px;
    margin: 0%;
    margin: auto;
    margin-top: 20px;
    background-image: url('/images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.banner-details {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 40px;
}

.text-happy {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.text-headline {
    font-size: 50px;
    color: white;
    text-align: center;
}

/* 65% section conatainer style */
.second-container {
    width: 802.9px;
    height: 760px;
    /* border: 1px solid red; */
    margin: 0%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.second-details {
    margin-top: 30px;
}

#off-text {
    color: #FF0000;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 20px;
}

#holiday-text {
    color: #FF0000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#categoris-text {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.second-details img {
    width: 600px;
    height: 500px;
    margin-top: 50px;
}

/* vaction section style */
.vaction-cover {
    width: 1320px;
    height: 600px;
    /* border: 1px solid red; */
    margin: 0%;
    margin: auto;
    background-image: url('/images/vaction.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.vaction-details {
    width: 700px;
    height: 270px;
    padding: 30px;
    margin-left: 30px;
}

#wellcome-tag {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

#part-text {
    font-size: 50px;
    color: white;
}

#lorem-vation {
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

#btn-vaction {
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: bold;
}

.vcation-img {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    margin-top: 20px;
}

.date-container {
    /* border: 1px solid red; */
    width: 1320px;
    height: 450px;
    margin: 0%;
    margin: auto;
    background-image: linear-gradient(to bottom, #d8c3bb 0%, white 100%);
    border-radius: 15px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details-date {
    /* border: 1px solid red; */
}

.text-date {
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

.red-date {
    color: #FF0000;
}

.btn-date {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 20px;
}

/* coming soon section ********************* */

.comming-section {
    /* border: 1px solid rebeccapurple; */
    width: 1320px;
    height: 450px;
    margin: 0%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-details {
    width: 440px;
    padding: 50px;
}

.img-comming {
    padding: 8px;
    border: #FF0000 5px solid;
    border-radius: 50%;
}

.heading-red {
    color: #FF0000;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 7px;
}

.lorem-comming {
    font-size: 14px;
    color: grey;
    margin-top: 15px;
}

.img-logo {
    padding: 20px;
    margin-top: 10px;
}

/* section-gift style********************* */

.section-gift {
    max-width: 1320px;
    height: 880px;
    border: 1px solid red;
    margin: 0%;
    margin: auto;
    margin-top: 40px;
    position: relative;
}

.text-giftbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1060px;
    height: 300px;
}

.text-giftbox h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.text-giftbox h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.text-giftbox p {
    font-size: 15px;
    color: grey
}


.details-flex {
    display: flex;
    justify-content: center;
}

.background-position {
    position: absolute;
    bottom: 0%;
}

.gift {
    position: absolute;
    top: 30%;
    width: 150px;
    height: 150px;
}

.char {
    position: absolute;
    top: 30%;
    right: 10%;
}